<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2022. All Rights Reserved.</h6>
  <a href="https://github.com/landonSmyth" class="nav-link">
    <i class="fa-brands fa-github fa-2xl"></i>
  </a>
  <a href="https://www.linkedin.com/in/landon-smyth-bb92a8228" class="nav-link">
    <i class="fa-brands fa-linkedin fa-2xl"></i>
</nav>