<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark" style="background-color: #014b43">
  <h6 class="navbar-text" style="margin-right:auto; margin-left:auto">
  &copy; Copyright 2022. All Rights Reserved.</h6>
</nav>