<!--Nav Bar-->
<body>  
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(79, 10, 79)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Assignment & Homework Tracker - Landon Smyth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if (title=="Home") { %>
          <a class="nav-link active" href="/">
        <% } else { %>
          <a class="nav-link" href="/">
        <% } %>
          <i class="fa-solid fa-lg fa-house-chimney"></i> Home</a>
        </li>

        <li class="nav-item">
        <% if (title=="Tracker") { %>
          <a class="nav-link active" href="/assignment-tracker">
        <% } else { %>
          <a class="nav-link" href="/assignment-tracker">
        <% } %>
          <i class="fa-solid fa- lg fa-list-check"></i> Tracker</a>
        </li>
    </div>
  </div>
</nav>