<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main>
  <div id="whole_page">
  <article id="index_article">
		<section>
			<img src="/Assets/images/landonSmyth-portrait.jpeg" alt="Picture of Landon Smyth">
			<h1>Welcome to my Portfolio</h1>
			<h2>Visit the About Me page to learn more!</h2>
		</section>
	</article>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>