<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main>
  <div id="whole_page">
  <article id="index_article">
		<section>
			<h1>Welcome to the Assignment and Homework Tracker!</h1>
			<h2>Click "Get Started" to begin</h2>
		</section>
	</article>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>