<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main>
  <div id="whole_page">
  <article id="index_article">
		<section>
			<h1>Welcome to the Assignment and Homework Tracker!</h1>
			<h2>Click "Get Started" to begin</h2>
		</section>
		<!--Button that links to the main tracker page. The user can also reach the tracker page through the 
		"Tracker" item in the nav bar-->
		<div id="middleButton">
			<a href="/assignment-tracker" class="btn btn-primary" id="button">
			<h4>Get Started</h4></a>
		</div>
	</article>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>